---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'dearJoe';
  src:url('../fonts/dearJoe.otf'),
  url('../fonts/dearJoe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src:url('../fonts/Inconsolata.otf'),;
  font-weight: normal;
  font-style: normal;
}

// Our variables
$brand-font-family: dearJoe, Helvetica, sans-serif;
$base-font-family: Inconsolata, Helvetica, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #555;
$background-color: #fff;
$brand-color:      #81c9f0;

$rose-color:       #f08191;
$rose-color-light: lighten($rose-color, 40%);
$rose-color-light: lighten($rose-color, 40%);
$rose-color-dark:  darken($rose-color, 5%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
