---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'gothambook';
  src:url('../fonts/gotham-book.ttf'),
  url('../fonts/gotham-book.eot') format('embedded-opentype'),
  url('../fonts/gotham-book.woff') format('woff');;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arvo-Bold';
  src:url('../fonts/Arvo-Bold.ttf'),
  url('../fonts/Arvo-Bold.eot') format('embedded-opentype'),
  url('../fonts/Arvo-Bold.woff') format('woff');;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dearJoe';
  src:url('../fonts/dearJoe.otf'),
  url('../fonts/dearJoe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Our variables
$brand-font-family: dearJoe, Helvetica, sans-serif;
$base-font-family: gothambook, Helvetica, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     30px;

$text-color:       #727272;
$background-color: #FFF;
$brand-color:      #FF9311;

$green-color:       #1ACBA9;
$green-color-light: lighten($green-color, 10%);
$green-color-dark:  darken($green-color, 10%);

$grey-color:         #535353;
$grey-color-light:   lighten($grey-color, 20%);
$grey-color-lighter: lighten($grey-color, 30%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
